# Get an API token from cloudflare.com and paste it here

TOKEN=API_TOKEN_FROM_CLOUDFLARE
EMAIL=contact@example.com

# Domain-Subdomains List

SUBDOMAINS="example.com subdomain1.example.com sudomain2.example.com"
